<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
	<link rel="stylesheet" type = "text/css" th;href="@{css/style.css}">
  </head>
  <body>
    <div layout:fragment="content">
	<form th:action ="@{/admin/events/view/{id}(id=*{id})}" th:object="${event}" method="post">
      <h1>イベント詳細</h1>
      <table class="table table-striped mt-4">
        <thead class="bg-primary text-white">
          <tr>
            <th>id</th>
            <th>イベント名</th>
			<th>最大参加者数</th>
			<th>カテゴリ</th>
			<th>管理ユーザ</th>
            <th>作成日時</th>
          </tr>
        </thead>																																																																																					
        <tbody>
			<tr>
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
			<td th:text="*{maxParticipant}"></td>
			<td th:text="*{category.name}"></td>
			<td th:text="*{user.email}"></td>
            <td th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
          </tr>
        </tbody>
  	</table>
		<div class = "participant-count">
			現在参加者数: <span th:text= "${event.eventUsers.size()} +'名' "></span>
		</div>
	  
	   <h1>イベント参加者</h1>
  	      <table class="table table-striped mt-4">
  	        <thead class="bg-primary text-white">
  	          <tr>
				<th>ユーザID</th>
	            <th>ユーザ名</th>
	            <th>作成日時</th>
  	          </tr>
  	        </thead>
  	        <tbody>
			  <tr th:each="eventUser: ${event.eventUsers}" th:object="${eventUser}">
				<td th:text="*{id}"></td>
	            <td th:text="*{user.email}"></td>
	            <td th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
  	  		</tr>
  	  	</tbody>
  	  </table>
	
		<div th:if ="${eventUser == null}" class="navbar-nav mr-auto">
		 <div class="entry"> 	   <!--//login ユーザを送って-->
			<a th:href="@{/admin/eventusers/create/{id}(id=*{id})}" class="btn btn-primary">参加する</a>
		 </div>
		</div>
	 	<div th:if ="${eventUser != null}" class="navbar-nav mr-auto">
		 <div class="entry">
			<a th:href="@{/admin/chats/talk/{id}(id=*{id})}" class="btn btn-primary">チャットに参加する</a>
			<a th:href="@{/admin/eventusers/delete/{id}(id=*{id})}" class="btn btn-primary">辞退する</a>
		 </div>
	  </div>
	</form> 
    </div>
  </body>
</html>	
