<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
	 </head>
	  <body>
	    <div layout:fragment="content">
	      <h1>ユーザ一覧</h1>
	      <table class="table table-striped mt-4">
	        <thead class="bg-primary text-white">
	          <tr>
	            <th>id</th>
	            <th>email</th>
	            <th>created</th>
	            <th>modified</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr th:each="user: ${users}" th:object="${user}">
	           <td th:text="*{id}"></td>
	           <td th:text="*{email}"></td>
	           <td th:text="*{#dates.format(createdAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
	           <td th:text="*{#dates.format(modifiedAt, 'yyyy年MM月dd日HH時mm分ss秒')}"></td>
	         </tr>
	       </tbody>
	     </table>
	   </div>
	</body>
</html>
