@charset "UTF-8";

.participant-count{
	background-color: rgb(170, 215, 255);
	height: 45px;
	font-size: larger;
	color: rgb(128, 128, 192);
	font-weight: bold;
	text-align: center;
	
}

.login-b{
	display: flex;
	justify-content: center;
	margin-top: 10px;
	height: 40px;;
}

.entry{
	display: flex;
	justify-content: center;
}

.btn{
	margin: 5px;
}

.message{
	width: 1000px;
	height: 1000px;
	background-color: red;
}

